{% extends "base.html" %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.name }}</td>
                <td>{{ author.comment|default:"-" }}</td>
                </th>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}