{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'assets/favicon.jpg' %}">
    <link href="{% static 'bootstrap-5.1.0-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-5.1.0-dist/js/bootstrap.js' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">Nerd0_0's library</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/works/' %} text-decoration-underline {% endif %}">
                <a class="nav-link" href="/works">Произведения</a>
            </li>
            <li class="nav-item {% if request.path == '/books/' %} text-decoration-underline {% endif %}">
                <a class="nav-link" href="/books">Cборники</a>
            </li>
            <li class="nav-item {% if request.path == '/authors/' %} text-decoration-underline {% endif %}">
                <a class="nav-link" href="/authors">Авторы</a>
            </li>
            </li>
            <li class="nav-item {% if request.path == '/publishers/' %} text-decoration-underline {% endif %}">
                <a class="nav-link" href="/publishers">Издательства</a>
            </li>
            </li>
            <li class="nav-item {% if request.path == '/collections/' %} text-decoration-underline {% endif %}">
                <a class="nav-link" href="/collections">Коллекции</a>
            </li>
        </ul>
    </div>
    <a href="/logout" class="collapse navbar-collapse">Выйти</a>
</nav>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>