{% extends "base.html" %}

{% block title %}Сборники{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Издательство</th>
            <th scope="col">Год издания</th>
            <th scope="col">Доступность</th>
            <th scope="col">Электронная версия</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                <td>{{ book.publisher.name }}</td>
                <td>{{ book.publishing_year|default:"-" }}</td>
                <td>{{ book.availability|yesno:"✔,✖" }}</td>
                <td>{{ book.e_link|default:"-" }}</td>
                <td>{{ book.comment|default:"-" }}</td>
                </th>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}