{% extends "base.html" %}

{% block title %}Коллекции{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <th scope="row">
                    <button type="button" aria-controls="collapseme" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" class="btn" data-toggle="collapse" data-target="#collapseme">
                        👉
                    </button>
                    {{ collection.id }}
                </th>
                <td>{{ collection.name }}</td>
                <td>{{ collection.comment|default:"-" }}</td>
                </th>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                    <div class="collapse" id="collapseme">
                        <table class="table table-striped" id="collapseme">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Название</th>
                                <th scope="col">Авторы</th>
                                <th scope="col">Внутренний период</th>
                                <th scope="col">Электронная версия</th>
                                <th scope="col">Комментарий</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for work in collection.works.all %}
                                <tr>
                                    <th scope="row">{{ work.id }}</th>
                                    <td>{{ work.name }}</td>
                                    <td>{% for author in work.authors.all %}
                                        {{ author.name }}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% empty %}
                                        []
                                    {% endfor %}</td>
                                    <td>{{ work.inside_period|default:"-" }}</td>
                                    <td>{{ work.e_link|default:"-" }}</td>
                                    <td>{{ work.comment|default:"-" }}</td>
                                    </th>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">Ничего не найдено</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}