{% extends "base.html" %}

{% block title %}Издательства{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
            <tr>
                <th scope="row">{{ publisher.id }}</th>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.comment|default:"-" }}</td>
                </th>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}