{% extends "base.html" %}

{% block title %}Произведения{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Авторы</th>
            <th scope="col">Внутренний период</th>
            <th scope="col">Электронная версия</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <th scope="row">{{ work.id }}</th>
                <td>{{ work.name }}</td>
                <td>{% for author in work.authors.all %}
                    {{ author.name }}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% empty %}
                    []
                {% endfor %}</td>
                <td>{{ work.inside_period|default:"-" }}</td>
                <td>{{ work.e_link|default:"-" }}</td>
                <td>{{ work.comment|default:"-" }}</td>
                </th>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}